<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <form method="POST" class="post-form" action="/phone">
      {% csrf_token %}
      <h2>Insert Mobile Data:</h2>
      <div>
        <label>Phone Name:</label>
        <div>{{ form.phone_name }}</div>
      </div>
      <div>
        <label>Phone Name:</label>
        <div>{{ form.phone_model }}</div>
      </div>
      <div>
        <label>Make:</label>
        <div>{{ form.make }}</div>
      </div>
      <div>
        <div>
          <button type="submit" class="button button1">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
